*{
    margin:0;
    padding:0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
body{
    background: #001e4d;
}
.App{
    background: #fff;
    width:90%;
    max-width:600px;
    margin:100px auto 0;
    border-radius: 10px;
    padding:30px;
}
.App h1{
    border-bottom: 1px solid #001e4d;
    margin-bottom: 10px;
    text-align: center;
}
.App h2{
    border-bottom: 1px solid #001e4d;
    margin-bottom: 20px;
}
.App .btn{
    background-color: #fff;
    width:100%;
    padding:10px;
    margin:4px;
    border: 1px solid black;
    border-radius:4px;
    transition:all 0.11s;
}
.App .btn:hover{
    background: #222;
    color:#fff;
    cursor: pointer;
}
#next-button{
    display: none;
    margin:20px auto 0;
    height:30px;
    width:150px;
    border-radius: 4px;
    border:0;
    cursor: pointer;
    background-color: #001e4d;
    color:#fff;
}
.correct{
    background: #9aeabc !important;
}
.Incorrect{
    background: red !important;
}
